.container {
  margin: 0 auto;
  max-width: 319px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  margin-bottom: 100px;
}

.cardLink {
  text-decoration: none;
}

.card {
  margin-top: 16px;
}

.img {
  width: 160px;
  height: 160px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #2e2e5d;
  margin-top: 8px;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 160px;
  text-overflow: ellipsis;
}

.author {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #4838d1;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 160px;
  text-overflow: ellipsis;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: red;
  width: 319px;
}

.message {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: red;
  width: 319px;
  margin-top: 20px;
}
