.section-page-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    margin-bottom: 100px;
}

.section-page-main__card {
    margin-top: 16px;
}

.section-page-main__card-img {
    width: 160px;
    height: 160px;
}

.section-page-main__card-heading {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E5D;
    margin-top: 8px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;
}

.section-page-main__card-author {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #4838D1;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    max-width: 160px;
    text-overflow: ellipsis;
}