.player {
  padding: 0 20px 8px 8px;
  position: fixed;
  bottom: 83px;
  background-color: rgb(243, 248, 250);
}

.input {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  padding: 4px 17px 8px 12px;
}

.cover {
  width: 64px;
  height: 64px;
}

.heading {
  width: 214px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  font-size: 16px;
  color: #010104;
}

.btnPlay {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}

.pauseBtn {
  width: 40px;
  height: 40px;
}
