.player {
  position: fixed;
  bottom: 83px;
  background-color: rgb(243, 248, 250);
}

.wrapper {
  padding: 0 20px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  padding: 4px 17px 8px 12px;
}

.cover {
  width: 64px;
  height: 64px;
}

.heading {
  width: 214px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 2px;
  margin-bottom: 0;
}

.author {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #010104;
  margin-top: 4px;
}

.btnPlay {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}

.pauseBtn {
  width: 40px;
  height: 40px;
}

.indicator {
  width: 100%;
  appearance: none;
  height: 2px;
}

.indicator::-webkit-slider-thumb {
  appearance: none;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #4838d1;
}

.indicator::-moz-range-thumb {
  appearance: none;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #4838d1;
}
