.new-and-trend-home__cards {
    display: flex;
    overflow: auto;
    margin-right: -28px;
    margin-top: 16px;
}

.new-and-trend-home__cards::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.new-and-trend-home__card {
    margin-right: 16px;
}

.new-and-trend-home__card-heading {
    margin-top: 12px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E5D;
}

.new-and-trend-home__card-img {
    width: 160px;
    height: 160px;
}