.reviews {
  margin-top: 40px;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e5d;
}

.noneHeading {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e5d;
  margin-top: 5px;
  text-align: center;
}
