* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --links: #4838d1;
  --headings: #010104;
  --background-buttons: #f5f5fa;
  --detail-headings: #2e2e5d;
  --detail-text: #6a6a8b;
}

.container {
  margin: 0 auto;
  max-width: 319px;
}

.main {
  padding-bottom: 133px;
}
