.buttons {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 148px;
  height: 53px;
  padding: 16px 20px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnPlay {
  background: #4838d1;
  border-radius: 8px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.btnRead {
  border: 1px solid #4838d1;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4838d1;
}
