.persForm {
  margin-top: 22px;
}

.searchInput {
  width: 100%;
  height: 53px;
  border: none;
  border-radius: 8px;
  background-color: #f5f5fa;
  padding-left: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #b8b8c7;
}

.buttons {
  margin-top: 16px;
  margin-bottom: 4px;
}

.topics {
  height: 21px;
}

.submitBtn {
  margin-top: 16px;
  width: 100%;
  height: 56px;
  border-radius: 8px;
  background-color: #4838d1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: white;
  border: none;
}

.skipBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 56px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #4838d1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4838d1;
  text-decoration: none;
}

.topicsText {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #2e2e5d;
}
