.recommended-home__images {
    margin-top: 16px;
    display: flex;
    overflow: auto;
    margin-right: -28px;
}

.recommended-home__images::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.recommended-home__img {
    margin-right: 16px;
    width: 200px;
    height: 300px;
}